*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: auto;
    display: flex;
}
.sidebar{
    width: 15vw;
    height: 100vh;
    background-color: dodgerblue;
}
.main-content{
    width: 85vw;
    height: 100vh;
}
.main-content .about{
    width: 100%;
    height: auto;
    padding-left: 1.5rem;
    background-color: beige; 
}
.about h2{
    color: rgba(14, 44, 85, 143);
    font-size: 2rem;
}
.about .IT{
    color: rgb(0, 38, 78);
    font-size: 1.5rem;
}